<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alieeen.smartchair"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="SmartChair"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.alieeen.smartchair.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.alieeen.smartchair.bluetooth.DeviceList" />
        <activity
            android:name="com.alieeen.smartchair.WalkthroughActivity"
            android:label="@string/title_activity_walkthrough"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.alieeen.smartchair.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MyNavigationDrawerTheme"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>